<!DOCTYPE html>
<html lang="en">
<head>
<title>Simple Table</title>
<!--
start : 2014-05-26 19:55
                               _           ____   ___
  ___ __ _ _ __ _ __   ___  __| |_ __ ___ |___ \ / _ \
 / __/ _` | '__| '_ \ / _ \/ _` | '_ ` _ \  __) | | | |
| (__ (_| | |  | |_) |  __/ (_| | | | | | |/ __/| |_| |
 \___\__,_|_|  | .__/ \___|\__,_|_| |_| |_|_____|\___/
               |_|

end  : 2014-??-??
-->

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" type="text/css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/hanna.css" type="text/css" />

<style type="text/css">
body {
  font-family: 'Nanum Gothic', 'Georgia', 'Times', 'Times New Roman', serif;
}

h1 {
  font-family: 'hanna', 'Nanum Gothic', 'Georgia', 'Times', 'Times New Roman', serif;
}
</style>

</head>
<body>

<div id="content">
<div class="text-center">
  <h1>{{ food }}</h1>
  <p class="text-muted">{{ date }}</p>
</div>

{% for menu in menus %}
<div class="col-xs-6">
  {% if menu.main | length != 0 %}
    <table class="table table-condensed">
      <tr><th colspan="{{ menu.main|length }}">{{ menu.name }} - {{ menu.location }}</th></tr>
      <tr>
      {% for main in menu.main %}
        <td class="success">{{ main }}</td>
      {% endfor %}
      </tr>
      {% for other in menu.others %}
      <tr>
        {% for sub in other %}
          <td>{{ sub }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
{% endfor %}

<div class="col-xs-6 img-rounded">
  <img class="img-responsive" src="http://2.bp.blogspot.com/-Y4uKa1com2E/U4iKeTe6cNI/AAAAAAAAD1U/_jVN3cKvq9I/s1600/logo_with_carpedm20.png"/>
</div>

</div>

</body>
</html>
